//prefix
$css-prefix                  : "octet";
$select-prefix-cls           : "#{$css-prefix}-select";
$select-prefix-drawer-cls    : "#{$css-prefix}-drawer-select";
$select-item-prefix-cls      : "#{$select-prefix-cls}-item";
$form-item-prefix-cls        : "ivu-form-item";

//color
$selection-border-color      : #57a3f3;
$selected-color              : #2d8cf0;
$error-color                 : #ed4014;
$input-placeholder-color     : #c5c8ce;
$input-height-large          : 36px;
$input-height-small          : 24px;
$font-size-base              : 14px;
$font-size-small             : 12px;
$font-size-large             : 16px;

.#{$select-prefix-cls} {
  width: 100%;
  text-align: left;
  position: relative;
  display: inline-block;

  &-visible {
    .#{$select-prefix-cls}-selection {
      border-color: $selection-border-color;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(45,140,240,.2);
      .#{$select-prefix-cls}-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-focus {
    .#{$select-prefix-cls}-selection {
      border-color: $selection-border-color;
    }
  }

  &-disabled {
    .#{$select-prefix-cls}-selection {
      background-color: #f3f3f3;
      opacity: 1;
      cursor: not-allowed;
      color: #ccc;
      &:hover {
        border-color: unset;
      }
      .#{$select-prefix-cls}-input {
        cursor: not-allowed;
      }
    }
  }

  &-multiple {
    .#{$select-item-prefix-cls}-selected {
      background-color: transparent!important;
      &:after {
        display: inline-block;
        font-family: Ionicons;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: middle;
        font-size: 24px;
        content: "\F171";
        color: rgba(45,140,240,.9);
        position: absolute;
        top: 2px;
        right: 8px;
      }
    }
    .#{$select-prefix-cls}-input {
      height: 29px;
      line-height: 32px;
    }
  }

  &-large {
    .#{$select-prefix-cls}-selection {
      min-height: $input-height-large;
      .#{$select-prefix-cls}-placeholder {
        height: $input-height-large - 2px;
        line-height: $input-height-large - 2px;
        font-size: $font-size-base;
      }
      .#{$select-prefix-cls}-input {
        height: $input-height-large - 2px;
        line-height: $input-height-large - 2px;
      }
      .#{$select-prefix-cls}-tag {
        height: 28px;
        line-height: 26px;
        font-size: $font-size-base;
      }
    }
  }

  &-small {
    .#{$select-prefix-cls}-selection {
      min-height: $input-height-small;
      border-radius: 3px;
      .#{$select-prefix-cls}-placeholder {
        height: $input-height-small - 2px;
        line-height: $input-height-small - 2px;
      }
      .#{$select-prefix-cls}-tag {
        height: 17px;
        line-height: 15px;
        font-size: $font-size-small;
        padding: 0 6px;
        margin: 3px 4px 2px 0;
      }
      .#{$select-prefix-cls}-input {
        height: $input-height-small - 2px;
        line-height: $input-height-small - 2px;
      }
    }
  }

  &-selection {
    display: block;
    box-sizing: border-box;
    min-height: 32px;
    outline: 0;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdee2;
    padding: 0 24px 0 8px;
    transition: all .2s ease-in-out;
    &:hover {
      border-color: $selection-border-color;
    }
    .#{$select-prefix-cls}-input {
      width: 100%;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      outline: 0;
      border: none;
      box-sizing: border-box;
      color: #515a6e;
      background-color: transparent;
      position: relative;
      cursor: pointer;
      &::-moz-placeholder {
        color: $input-placeholder-color;
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
      }
      // Internet Explorer 10+
      &:-ms-input-placeholder {
        color: $input-placeholder-color;
      }
      // Safari and Chrome
      &::-webkit-input-placeholder {
        color: $input-placeholder-color;
      }
    }
    .#{$select-prefix-cls}-arrow {
      position: absolute;
      top: 50%;
      right: 8px;
      line-height: 1;
      margin-top: -7px;
      font-size: 14px;
      color: #808695;
      transition: all .2s ease-in-out;
    }
    .#{$select-prefix-cls}-tag {
      height: 24px;
      line-height: 22px;
      margin: 3px 4px 3px 0;
      vertical-align: top;
    }
    .#{$select-prefix-cls}-placeholder {
      display: block;
      height: 30px;
      line-height: 30px;
      color: #c5c8ce;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 4px;
      padding-right: 22px;
    }
  }

  &-dropdown {
    width: 100%;
    position: absolute;
    will-change: top, left;
    transform-origin: center top 0px;
    top: 32px;
    left: 0px;
    max-height: 200px;
    overflow: auto;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    z-index: 900;
    &-list {
      list-style: none;
    }
    .#{$select-prefix-cls}-not-found {
      text-align: center;
      font-size: 14px;
      color: #c5c8ce;
    }
  }

  .#{$select-item-prefix-cls} {
    position: relative;
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #515a6e;
    font-size: 12px!important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    &:hover {
      background: #f3f3f3;
    }
  }
  .#{$select-item-prefix-cls}-selected {
    color: $selected-color;
    background: #f3f3f3;
  }
  .#{$select-item-prefix-cls}-disabled {
    color: #c5c8ce;
    cursor: not-allowed;
  }

  .trainsition-drop-enter-active, .trainsition-drop-appear {
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-name: transitionDropIn;
    animation-duration: .3s;
    animation-fill-mode: both;
  }
  .trainsition-drop-leave-active {
    animation-name: transitionDropOut;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  @keyframes transitionDropIn {
    0% {
      opacity: 0;
      transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  @keyframes transitionDropOut {
    0% {
      opacity: 1;
      transform: scaleY(1);
    }
    100% {
      opacity: 0;
      transform: scaleY(0.8);
    }
  }

}

// iView Form下error时样式
.#{$form-item-prefix-cls}-error{
  .#{$select-prefix-cls}{
    &-selection{
      border: 1px solid $error-color;
    }
    &-arrow{
      color: $error-color;
    }
    &-visible .#{$select-prefix-cls}-selection{
      border-color: $error-color;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(237,64,20,.2);
    }
  }
}

.error-right-form {
  .#{$select-prefix-cls}{
    width: 500px;
  }
}