@mixin placeholder($color: $input-placeholder-color) {
  // Firefox
  &::-moz-placeholder {
      color: $color;
      opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
      color: $color;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
      color: $color;
  }
}

// for select and input like component's arrow
@mixin inner-arrow() {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -7px;
  font-size: $font-size-base;
  color: $subsidiary-color;
  transition: all $transition-time $ease-in-out;
}

@mixin reset-component() {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin select-item($size-class, $item-class) {
  .#{$item-class} {
      margin: 0;
      line-height: normal;
      padding: 7px 16px;
      clear: both;
      color: $text-color;
      font-size: $font-size-small !important;
      white-space: nowrap;
      list-style: none;
      cursor: pointer;
      transition: background $transition-time $ease-in-out;

      &:hover{
          background: $background-color-select-hover;
      }

      &-focus {
          background: $background-color-select-hover;
      }

      &-disabled {
          color: $btn-disable-color;
          cursor: $cursor-disabled;

          &:hover {
              color: $btn-disable-color;
              background-color: #fff;
              cursor: $cursor-disabled;
          }
      }

      &-selected ,&-selected:hover{
          color: $primary-color;
          //background: $selected-color;
      }

      &-selected.#{$item-class}-focus {
          //background: shade($selected-color, 10%);
      }

      &-divided{
          margin-top: 5px;
          border-top: 1px solid $border-color-split;
          &:before{
              content: '';
              height: 5px;
              display: block;
              margin: 0 -16px;
              background-color: #fff;
              position: relative;
              top: -7px;
          }
      }
  }

  .#{$size-class}-large .#{$item-class} {
      padding: 7px 16px 8px;
      font-size: $font-size-base !important;
  }
}
