.#{$select-prefix-cls} {
  width: 100%;
  text-align: left;
  position: relative;
  display: inline-block;
  color: $text-color;
  font-size: $font-size-base;
  &-visible {
    .#{$select-prefix-cls}-selection {
      @include active();
      .#{$select-prefix-cls}-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-focus {
    .#{$select-prefix-cls}-selection {
      @include hover()
    }
  }

  &-disabled {
    .#{$select-prefix-cls}-selection {
      background-color: $input-disabled-bg;
      opacity: 1;
      cursor: not-allowed;
      color: #ccc;
      &:hover {
        border-color: unset;
        box-shadow: none;
      }
      .#{$select-prefix-cls}-input {
        cursor: not-allowed;
      }
    }
  }

  &-multiple {
    .#{$select-item-prefix-cls}-selected {
      position: relative;
      background-color: transparent!important;
      &:after {
        content: "";
        display: table;
        width: 4px;
        height: 8px;
        position: absolute;
        top: 7px;
        right: 16px;
        border: 2px solid $selected-color;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1);
      }
    }
    .#{$select-prefix-cls}-input {
      height: 29px;
      line-height: 32px;
    }
  }

  &-large {
    .#{$select-prefix-cls}-selection {
      min-height: $input-height-large;
      .#{$select-prefix-cls}-placeholder {
        height: $input-height-large - 2px;
        line-height: $input-height-large - 2px;
        font-size: $font-size-base;
      }
      .#{$select-prefix-cls}-input {
        height: $input-height-large - 2px;
        line-height: $input-height-large - 2px;
      }
      .#{$select-prefix-cls}-tag {
        height: 28px;
        line-height: 28px;
        font-size: $font-size-base;
      }
    }
  }

  &-small {
    .#{$select-prefix-cls}-selection {
      min-height: $input-height-small;
      border-radius: 3px;
      .#{$select-prefix-cls}-placeholder {
        height: $input-height-small - 2px;
        line-height: $input-height-small - 2px;
      }
      .#{$select-prefix-cls}-tag {
        height: 17px;
        line-height: 17px;
        font-size: $font-size-small;
        padding: 0 6px;
        margin: 3px 4px 2px 0;
      }
      .#{$select-prefix-cls}-input {
        height: $input-height-small - 2px;
        line-height: $input-height-small - 2px;
      }
    }
  }

  &-selection {
    display: block;
    box-sizing: border-box;
    min-height: 32px;
    outline: 0;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: $backgroud-selection;
    padding: 0 24px 0 8px;
    border-radius: $btn-border-radius;
    border: 1px solid $border-color-base;
    transition: all .2s ease-in-out;
    &:hover {
      @include hover();
    }
    .#{$select-prefix-cls}-input {
      width: 100%;
      display: inline-block;
      height: $input-height-base;
      line-height: $input-height-base;
      font-size: $font-size-small;
      outline: 0;
      border: none;
      box-sizing: border-box;
      color: $input-color;
      background-color: transparent;
      position: relative;
      cursor: pointer;
      @include placeholder();
    }
    .#{$select-prefix-cls}-arrow {
      position: absolute;
      top: 50%;
      right: 8px;
      line-height: 1;
      margin-top: -7px;
      font-size: $font-size-base;
      color: $select-arrow-color;
      transition: all .2s ease-in-out;
    }
    .#{$select-prefix-cls}-tag {
      height: 24px;
      line-height: 24px;
      margin: 3px 4px 3px 0;
      vertical-align: top;
    }
    .#{$select-prefix-cls}-placeholder {
      display: block;
      height: 30px;
      line-height: 30px;
      color: $input-placeholder-color;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 4px;
      padding-right: 22px;
    }
  }

  &-dropdown {
    width: 100%;
    position: absolute;
    will-change: top, left;
    transform-origin: center top 0px;
    top: 32px;
    left: 0px;
    max-height: 200px;
    overflow: auto;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px fade-out(#000, .8);
    z-index: 900;
    &-list {
      list-style: none;
    }
    .#{$select-prefix-cls}-not-found {
      text-align: center;
      font-size: 14px;
      color: $input-placeholder-color;
    }
  }

  .#{$select-item-prefix-cls} {
    position: relative;
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: $text-color;
    font-size: 12px!important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    &:hover {
      background: $background-color-select-hover!important;
    }
  }
  .#{$select-item-prefix-cls}-selected {
    color: $selected-color;
    background: $background-color-select-hover;
  }
  .#{$select-item-prefix-cls}-disabled {
    color: $input-placeholder-color;
    cursor: not-allowed;
  }

  .trainsition-drop-enter-active, .trainsition-drop-appear {
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-name: transitionDropIn;
    animation-duration: .3s;
    animation-fill-mode: both;
  }
  .trainsition-drop-leave-active {
    animation-name: transitionDropOut;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  @keyframes transitionDropIn {
    0% {
      opacity: 0;
      transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  @keyframes transitionDropOut {
    0% {
      opacity: 1;
      transform: scaleY(1);
    }
    100% {
      opacity: 0;
      transform: scaleY(0.8);
    }
  }

}

